body {
    background-color: lightgrey;
}

h1 {
    font-family: sans-serif;
}

.login-div {
    padding: 15px;
    border: solid 1px #c0c0c0;
    box-shadow: 0 0 2px;
    display: inline-block;
}
.login-div input {
    display: block;
    margin-bottom: 7px;
}

.login-div input[type="email"] {
    border: solid 1px red
}

.login-div input[type="password"] {
    border: solid 1px blue
}

.login-div button:hover {
    box-shadow: 2px 2px 3px gray;
}

.login-div input:focus {
    box-shadow: 2px 2px 3px gray;
    border: none;
}

ul li:last-child {
    text-decoration: underline;
}

ul li:first-child {
    color: red;
}

ul li:nth-child(2) {
    color: blue;
}